/* importo una fuente system ui */
body {
  font-weight: bold;
  font-family: 'system-ui', sans-serif;
  background-color: #181818;
  color: #FAFAFA;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #FAFAFA;
}

