/* Pago.css */
.item-green {
    background-color: green;
}

.item-gray {
    background-color: rgb(46, 46, 46);
}

.item-red {
    background-color: rgb(224, 0, 0);
}

.item-orange {
    background-color:#ff7300;
}